.btn{
    border: 1px solid $fondo;
    padding: .7rem 1.2rem;
    background: $fondo;
    border-radius: 5px;
    box-shadow: $sombra;
    cursor: pointer;
    text-align: center;
}
.btn--blanco{
    text-decoration: none;
    color: $fondo;
    background: $fuenteSecunadario;
}

.btn--formulario{
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}
.btn:hover{
    text-decoration: underline;
    color: $fondo;
    background: $fuenteSecunadario;
}

@media (min-width: 768px){
    .btn--formulario{
        width: 30%;
        font-size: $fuenteDesktopParrafo;
    }
}