.banner__titulo{
    font-size: $fuenteTitulosMovil;
    font-weight: 600;
    line-height: 1.5rem;
    opacity: 1;
    text-shadow: 1px 1px 2px #999;
}

@media (min-width: 992px){
    .banner__titulo{
        font-size: $fuenteDesktopTitulo;
    }
}
