.login__formulario{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    color: $fuentePrimario;
    font-weight: lighter;
}

@media (min-width: 768px){
    .login__formulario{
        width: 75%;
    }
}

@media (min-width: 992px){
    .login__formulario{
        width: 60%;
    }
}