.productos__contenedor__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .productos__contenedor__card{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 992px){
    .productos__contenedor__card{
        grid-template-columns: repeat(6,1fr);
    }
}