//Esta pagina estile reutiliza el codigo de header y footer usados en la paginas de AluraGeek y 
//contiene los estilos de las paginas login y nuevo producto.
$fuenteTienda :'Raleway', sans-serif;
$fondo: #202020;
$fuentePrimario:#fff;
$fuenteSecunadario:#c2c5aa;
$fondoOscuro:#333533;
$fuenteTitulosMovil:1.1rem;
$fuenteParrafoMovil:0.8rem;
$sombra:2px 3px 10px 1px rgba(194,197,170,0.15);
$fuenteDesktopTitulo: 1.3rem;
$fuenteDesktopParrafo: 1rem;

@import 'generales';
@import 'btn';

///////////////////////////////////////
///////////  HEADER  //////////////////
///////////////////////////////////////
@import 'index/header/header.scss';
@import 'index/header/header-contenedor.scss';
@import 'index/header/header-logo.scss';
@import 'index/header/header-contenedor-contenido.scss';
@import 'index/header/header-link.scss';
@import 'index/header/header-icono.scss';
@import 'index/header/header-buscar';
@import 'index/header/header-contenedor-buscar';

///////////////////////////////////////
/////////////  MAIN  //////////////////
///////////////////////////////////////

@import 'main/login/login-contenedor';
@import 'main/login/contenedor-titulos';
@import 'main/formulario/contenedor-formulario';
@import 'main/formulario/login-formulario';
@import 'main/formulario/login-formulario-campo';
@import 'main/formulario/login-info';


///////////////////////////////////////
/////////////  CONTACTO  //////////////
///////////////////////////////////////

@import 'index/contacto/contacto.scss';
@import 'index/contacto/contacto-contenedor';
@import 'index/contacto/contacto-sobre-nosotros';
@import 'index/contacto/contacto-contenedor-logo';
@import 'index/contacto/contacto-logo';
@import 'index/contacto/lista-sobre-nosotros';
@import 'index/contacto/lista-sobre-nosotros-link';
@import 'index/contacto/lista-sobre-nosotros-item';
@import 'index/contacto/formulario__contenedor__campos';
@import 'index/contacto/formulario-contedor-titulo';
@import 'index/contacto/formulario-campos';
@import 'index/contacto/formulario-campo';
@import 'index/contacto//contacto-formulario';


///////////////////////////////////////
///////////// FOOTER  /////////////////
///////////////////////////////////////
//@import 'footer';
@import 'index/footer/footer';